nav {
    
    display: inline;
    list-style: none;
    margin: 25px, 25px;
    text-align: left;
}

a { 
    list-style: none;
    margin: 50px;
    color: rgb(90, 89, 92);
}

img {
    width: 65px;
    height: 65px;
}

.navBar-styles{
    background-color: rgb(173, 180, 181);
}

.barra-nav{
    text-align: right;
}