nav {
    display: inline;
    list-style: none;
    margin: 25px, 25px;
    text-align: left;
}

a { 
    list-style: none;
    margin: 50px;
    color: blueviolet;
}

img {
    width: 65px;
    height: 65px;
}